body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background: black;
  color: white;
  overflow-x: hidden;
  font-size: 16px;
} 

h0 {
  color: black;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

video {
  margin: 0px auto 50px auto;
  display: block;
} 
a {
  color: #3FFC00;
  text-decoration: none;
}

a.visited {
  text-decoration: none;
}

a.source {
  font-size: 16px;
  font-weight: bold;
}

a.github {
  color: #42d1f4;
  font-size: 18px;
}

@media (min-width: 320px) { 

a {
  font-size: 18px;
} 

  .video {
    width: 300px;
  } 

 .section {
  width: 300px;
 }

 .link-about {
    left: 20%; 
  }

  .link-portfolio {
    left: 50%; 
  }

  .link-contact {
    left: 80%; 
  } 

  .cube.portrait {
  top: 14%; 
  }

  .cube.landscape {
  top: 16%; 
  }

  .cube.Home {
    top: 61%;
    left: 50%;
  }

  .cube.About {
    left: 20%;
  }

  .cube.Portfolio {
    left: 50%;
  }

  .cube.Contact {
    left: 80%;
  }

}

@media (min-width: 414px) { 
  .section, .video {
     width: 90%;
  } 
} 

@media (min-width: 550px) { 
  .section, .video {
     width: 75%;
  } 
}

@media (min-width: 768px) { 

  .video {
    width: 600px;
  } 

  .section {
    width: 600px;
   }

  .link-about {
    left: 33%; 
  }

  .link-portfolio {
    left: 50%; 
  }

  .link-contact {
    left: 66%; 
  } 

  .cube.Home {
    left: 50%;
  }

  .cube.About {
    left: 33%;
  }

  .cube.Portfolio {
    left: 50%;
  }

  .cube.Contact {
    left: 66%;
  }

}


@media (min-width: 1024px) { 

a {
  font-size: 22px;
} 

   body {
    font-size: 18px;
  }
  .section {
    width: 800px;
   } 
   .video {
    width: 800px;
   }
}



.links { 
  text-align: center;
}

.link {
  position: absolute;
  top: 5%;
}

 
.center {
  position: absolute;
  top: 20%;
  left: 50%; 
  transition: left 2s, top 2s;
  display: block;
}

.off {
  display: none; 
}

.on {
  display: block; 
}
.off-left {
  position: absolute;
  top: 20%;
  left: -50%; 
  transition: all 2s;
}

.off-right {
  position: absolute;
  top: 20%;
  left: 150%; 
  transition: all 2s;
}
